<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Stocktalk - Discussion Sentiment</title>
    <meta name="description" content="Stocktalk">
    <meta name="author" content="Stocktalk">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Fira+Sans&display=swap" rel="stylesheet">

    <style>
        body {            
            font-family: 'Fira Sans', sans-serif;
        }

        canvas {
            max-width: 700px;
        }
    </style>

</head>

<body>
    Welcome to Stocktalk. 10m trailing discussion sentiment {{date}}:
    <canvas id="myChart" width="200" height="100"></canvas>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    
    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>