
<style>
    .sidebar{
        height: 90vh;
        width: 200px;
        float: left;
        padding: 10px;
        box-sizing: border-box;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar li {        
        margin: 10px 0;
    }
</style>


<div class="sidebar">
    <h1>Stocktalk</h1>
    <ul>
        <li>
            <a href="/">Hot Tickers</a>
        </li>
        <li>
            <a href="/discussion">Daily Discussion</a>
        </li>
    </ul>
</div>