
<style>
    .sidebar{
        height: 90vh;
        width: 200px;
        float: left;
        padding: 10px;
        box-sizing: border-box;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {        
        margin: 10px 0;
    }
</style>


<div class="sidebar">
    <h1>Stocktalk</h1>
    <ul>
        <a href="/">
            <li>Hot Tickers</li>
        </a>
        <a href="/discussion">
            <li>Daily Discussion</li>
        </a>
    </ul>
</div>